In [2]:
import pandas as pd

In [3]:
# Load the data
metacritic_df = pd.read_csv('../data/Metacritic_Scores/movies.csv')

In [4]:
metacritic_df.head()

,id,metascore,rating,release_date,sort_no,summary,title,user_score
0,549123,94,TV-14,"July 26, 1989",101,A young boy and his little sister struggle to ...,Grave of the Fireflies (1988),8.9
1,522228,94,PG-13,"December 8, 2000",102,"In 19th century China, a magical sword given b...","Crouching Tiger, Hidden Dragon",8.2
2,550614,94,G,"September 11, 1970",103,"In a French forest in 1798, a child is found w...",The Wild Child,6.5
3,549303,94,TV-PG,"January 15, 1943",104,A young woman discovers her visiting uncle may...,Shadow of a Doubt,8.2
4,539956,94,PG,"June 19, 2015",105,"Growing up can be a bumpy road, and it’s no ex...",Inside Out,8.7

In [6]:
# make release date a datetime object
import numpy as np
metacritic_df['release_date'] = metacritic_df['release_date'].replace('TBA', np.nan)
metacritic_df['release_date'] = pd.to_datetime(metacritic_df['release_date'], format='%B %d, %Y', errors='coerce')

metacritic_df.head()

,id,metascore,rating,release_date,sort_no,summary,title,user_score
0,549123,94,TV-14,1989-07-26,101,A young boy and his little sister struggle to ...,Grave of the Fireflies (1988),8.9
1,522228,94,PG-13,2000-12-08,102,"In 19th century China, a magical sword given b...","Crouching Tiger, Hidden Dragon",8.2
2,550614,94,G,1970-09-11,103,"In a French forest in 1798, a child is found w...",The Wild Child,6.5
3,549303,94,TV-PG,1943-01-15,104,A young woman discovers her visiting uncle may...,Shadow of a Doubt,8.2
4,539956,94,PG,2015-06-19,105,"Growing up can be a bumpy road, and it’s no ex...",Inside Out,8.7

In [7]:
metacritic_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15325 entries, 0 to 15324
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            15325 non-null  int64
 1   metascore     15325 non-null  int64
 2   rating        14201 non-null  object
 3   release_date  15216 non-null  datetime64[ns]
 4   sort_no       15325 non-null  int64
 5   summary       15322 non-null  object
 6   title         15325 non-null  object
 7   user_score    15325 non-null  object
dtypes: datetime64[ns](1), int64(3), object(4)
memory usage: 957.9+ KB

In [8]:
metacritic_df.describe()

,id,metascore,release_date,sort_no
count,15325.000000,15325.000000,15216,15325.000000
mean,537312.608548,59.180555,2006-05-30 11:14:51.482649728,7663.000000
min,500000.000000,1.000000,1916-09-05 00:00:00,1.000000
25%,521696.000000,48.000000,2001-06-29 00:00:00,3832.000000
50%,541600.000000,61.000000,2009-11-06 00:00:00,7663.000000
75%,548626.000000,72.000000,2016-06-17 00:00:00,11494.000000
max,557168.000000,100.000000,2023-04-28 00:00:00,15325.000000
std,13940.035800,17.076007,NaN,4424.090773