In [1]:
import pandas as pd

In [2]:
# Load the data
metacritic_df = pd.read_csv('../data/Metacritic_Scores/movies.csv')

In [3]:
metacritic_df.head()

,id,metascore,rating,release_date,sort_no,summary,title,user_score
0,549123,94,TV-14,"July 26, 1989",101,A young boy and his little sister struggle to ...,Grave of the Fireflies (1988),8.9
1,522228,94,PG-13,"December 8, 2000",102,"In 19th century China, a magical sword given b...","Crouching Tiger, Hidden Dragon",8.2
2,550614,94,G,"September 11, 1970",103,"In a French forest in 1798, a child is found w...",The Wild Child,6.5
3,549303,94,TV-PG,"January 15, 1943",104,A young woman discovers her visiting uncle may...,Shadow of a Doubt,8.2
4,539956,94,PG,"June 19, 2015",105,"Growing up can be a bumpy road, and it’s no ex...",Inside Out,8.7

In [4]:
metacritic_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15325 entries, 0 to 15324
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            15325 non-null  int64
 1   metascore     15325 non-null  int64
 2   rating        14201 non-null  object
 3   release_date  15325 non-null  object
 4   sort_no       15325 non-null  int64
 5   summary       15322 non-null  object
 6   title         15325 non-null  object
 7   user_score    15325 non-null  object
dtypes: int64(3), object(5)
memory usage: 957.9+ KB

In [5]:
metacritic_df.describe()

                  id     metascore       sort_no
count   15325.000000  15325.000000  15325.000000
mean   537312.608548     59.180555   7663.000000
std     13940.035800     17.076007   4424.090773
min    500000.000000      1.000000      1.000000
25%    521696.000000     48.000000   3832.000000
50%    541600.000000     61.000000   7663.000000
75%    548626.000000     72.000000  11494.000000
max    557168.000000    100.000000  15325.000000