In [1]:
import pandas as pd

In [3]:
oscar_df = pd.read_csv('../data/Oscars_Awards/the_oscar_award.csv')

In [4]:
oscar_df.head()

,year_film,year_ceremony,ceremony,category,name,film,winner
0,1927,1928,1,ACTOR,Richard Barthelmess,The Noose,False
1,1927,1928,1,ACTOR,Emil Jannings,The Last Command,True
2,1927,1928,1,ACTRESS,Louise Dresser,A Ship Comes In,False
3,1927,1928,1,ACTRESS,Janet Gaynor,7th Heaven,True
4,1927,1928,1,ACTRESS,Gloria Swanson,Sadie Thompson,False

In [5]:
oscar_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10889 entries, 0 to 10888
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   year_film      10889 non-null  int64
 1   year_ceremony  10889 non-null  int64
 2   ceremony       10889 non-null  int64
 3   category       10889 non-null  object
 4   name           10884 non-null  object
 5   film           10570 non-null  object
 6   winner         10889 non-null  bool
dtypes: bool(1), int64(3), object(3)
memory usage: 521.2+ KB

In [6]:
oscar_df['category'].value_counts()

category
DIRECTING                                    469
FILM EDITING                                 450
ACTRESS IN A SUPPORTING ROLE                 440
ACTOR IN A SUPPORTING ROLE                   440
DOCUMENTARY (Short Subject)                  378
                                            ...
SPECIAL FOREIGN LANGUAGE FILM AWARD            2
GORDON E. SAWYER AWARD                         1
SPECIAL ACHIEVEMENT AWARD (Sound Editing)      1
SPECIAL ACHIEVEMENT AWARD (Sound Effects)      1
AWARD OF COMMENDATION                          1
Name: count, Length: 115, dtype: int64

In [7]:
oscar_df['name'].value_counts()

name
Metro-Goldwyn-Mayer                                                                                      64
Walt Disney, Producer                                                                                    59
John Williams                                                                                            46
Warner Bros.                                                                                             43
France                                                                                                   37
                                                                                                         ..
Nick Bosustow, Producer                                                                                   1
Robert Mitchell and Dale Case, Producers                                                                  1
Frank McCarthy, Producer                                                                                  1
Ingo Preminger, Producer                                                                                  1
To Carol Littleton, whose commitment to her craft has significantly elevated the art of film editing.     1
Name: count, Length: 7039, dtype: int64

In [8]:
oscar_df['film'].value_counts()

film
A Star Is Born                          25
West Side Story                         18
Titanic                                 16
Moulin Rouge                            15
Mutiny on the Bounty                    15
                                        ..
The Dot and the Line                     1
The Thieving Magpie (La Gazza Ladra)     1
The Chicken (Le Poulet)                  1
Fortress of Peace                        1
May December                             1
Name: count, Length: 5041, dtype: int64

In [9]:
oscar_df['year_ceremony'].value_counts()

year_ceremony
1943    186
1942    183
1944    182
1945    169
1946    160
       ...
1932     45
1931     44
1930     42
1929     38
1928     35
Name: count, Length: 96, dtype: int64

In [10]:
oscar_df['year_film'].value_counts()

year_film
1942    186
1941    183
1943    182
1944    169
1945    160
       ...
1931     45
1930     44
1929     42
1928     38
1927     35
Name: count, Length: 96, dtype: int64

In [11]:
oscar_df['ceremony'].value_counts()

ceremony
15    186
14    183
16    182
17    169
18    160
     ...
5      45
4      44
3      42
2      38
1      35
Name: count, Length: 96, dtype: int64

In [12]:
oscar_df['winner'].value_counts()

winner
False    8424
True     2465
Name: count, dtype: int64

KeyError: 'entity'