# Pipeline for Movie Tropes data

Importing necessary librairies and then the reading the Tropes Data:

In [ ]:
import pandas as pd
import json

with open('../data/MovieSummaries/tvtropes.clusters.txt', 'r') as f:
  lines = f.readlines()

tropes_df = pd.DataFrame()
parsed_data = []
for line in lines:
  trope, details = line.strip().split("\t", 1)  # Splitting by tab only once
  details_dict = json.loads(details)  # Converting the JSON string to a dictionary
  details_dict['trope'] = trope  # Adding the trope as a new key-value pair
  parsed_data.append(details_dict)
  
tropes_df = pd.DataFrame(parsed_data)
tropes_df.rename(columns={'id': 'character_actor_map_id'}, inplace=True)

tropes_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 501 entries, 0 to 500
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   char                    501 non-null    object
 1   movie                   501 non-null    object
 2   character_actor_map_id  501 non-null    object
 3   actor                   501 non-null    object
 4   trope                   501 non-null    object
dtypes: object(5)
memory usage: 19.7+ KB

Taking a closer look at the data's characteristics:

In [2]:
tropes_df.head()

,char,movie,character_actor_map_id,actor,trope
0,Professor Philip Brainard,Flubber,/m/0jy9q0,Robin Williams,absent_minded_professor
1,Professor Keenbean,Richie Rich,/m/02vchl3,Michael McShane,absent_minded_professor
2,Dr. Reinhardt Lane,The Shadow,/m/0k6fkc,Ian McKellen,absent_minded_professor
3,Dr. Harold Medford,Them!,/m/0k6_br,Edmund Gwenn,absent_minded_professor
4,Daniel Jackson,Stargate,/m/0k3rhh,James Spader,absent_minded_professor

In [3]:
tropes_df.describe()

,char,movie,character_actor_map_id,actor,trope
count,501,501,501,501,501
unique,434,383,447,350,72
top,Captain Jack Sparrow,Pirates of the Caribbean: Dead Man's Chest,/m/0k1xxm,Robert De Niro,crazy_jealous_guy
freq,5,7,5,9,25

Let us load the data into a pickle for further processing and cleaning in the sections and results notebook:

In [4]:
tropes_df.to_pickle('../pickles/tropes_df.pkl')