# Actor Success
We want to know what metrics define a sucessful acting career. We will use the Oscar, IMDB Dataset, The CMU movie dataset, the rotten tomatoes dataset for this. 
First we need to define what a successful actor is. We start with a simple metric that counts the number os Oscar nominations and wins.

In [1]:
import pandas as pd
import numpy as np

In [10]:
oscar = pd.read_pickle('../../pickles/oskar_df.pkl')
imdb = pd.read_pickle('../../pickles/imdb_data.pkl')
cmu = pd.read_pickle('../../pickles/cmu_movies_df.pkl')
rotten = pd.read_pickle('../../pickles/rotten_tomatoes.pkl')

In [11]:
oscar.head()

,year_film,year_ceremony,ceremony,category,name,film,winner
0,1927,1928,1,ACTOR,Richard Barthelmess,The Noose,False
1,1927,1928,1,ACTOR,Emil Jannings,The Last Command,True
2,1927,1928,1,ACTRESS,Louise Dresser,A Ship Comes In,False
3,1927,1928,1,ACTRESS,Janet Gaynor,7th Heaven,True
4,1927,1928,1,ACTRESS,Gloria Swanson,Sadie Thompson,False

In [12]:
# only keep categories that are relevant for actors
oscar = oscar[oscar['category'].str.contains('ACTOR') | oscar['category'].str.contains('ACTRESS')]
oscar.head()

,year_film,year_ceremony,ceremony,category,name,film,winner
0,1927,1928,1,ACTOR,Richard Barthelmess,The Noose,False
1,1927,1928,1,ACTOR,Emil Jannings,The Last Command,True
2,1927,1928,1,ACTRESS,Louise Dresser,A Ship Comes In,False
3,1927,1928,1,ACTRESS,Janet Gaynor,7th Heaven,True
4,1927,1928,1,ACTRESS,Gloria Swanson,Sadie Thompson,False

In [13]:
# now define a score for each actor where nomination is 1 and win is 2
oscar['score'] = oscar['winner'].apply(lambda x: 2 if x == True else 1)
oscar.head()

,year_film,year_ceremony,ceremony,category,name,film,winner,score
0,1927,1928,1,ACTOR,Richard Barthelmess,The Noose,False,1
1,1927,1928,1,ACTOR,Emil Jannings,The Last Command,True,2
2,1927,1928,1,ACTRESS,Louise Dresser,A Ship Comes In,False,1
3,1927,1928,1,ACTRESS,Janet Gaynor,7th Heaven,True,2
4,1927,1928,1,ACTRESS,Gloria Swanson,Sadie Thompson,False,1

In [14]:
# group by actor and sum the score
successful_actors = oscar.groupby('name').sum()
successful_actors.head()

,year_film,year_ceremony,ceremony,category,film,winner,score
name,,,,,,,
Abigail Breslin,2006,2007,79,ACTRESS IN A SUPPORTING ROLE,Little Miss Sunshine,0,1
Adam Driver,4037,4039,183,ACTOR IN A SUPPORTING ROLEACTOR IN A LEADING ROLE,BlacKkKlansmanMarriage Story,0,2
Adolph Caesar,1984,1985,57,ACTOR IN A SUPPORTING ROLE,A Soldier's Story,0,1
Adolphe Menjou,1930,1931,4,ACTOR,The Front Page,0,1
Adriana Barraza,2006,2007,79,ACTRESS IN A SUPPORTING ROLE,Babel,0,1

In [15]:
# now sort by score and show the top 50
successful_actors = successful_actors.sort_values(by='score', ascending=False)
successful_actors.head(50)

,year_film,year_ceremony,ceremony,category,film,winner,score
name,,,,,,,
Meryl Streep,41941,41962,1474,ACTRESS IN A SUPPORTING ROLEACTRESS IN A SUPPO...,The Deer HunterKramer vs. KramerThe French Lie...,3,24
Katharine Hepburn,23448,23460,325,ACTRESSACTRESSACTRESSACTRESSACTRESSACTRESSACTR...,Morning GloryAlice AdamsThe Philadelphia Story...,4,16
Jack Nicholson,23788,23800,664,ACTOR IN A SUPPORTING ROLEACTORACTORACTORACTOR...,Easy RiderFive Easy PiecesThe Last DetailChina...,3,15
Bette Davis,21377,21388,180,ACTRESSACTRESSACTRESSACTRESSACTRESSACTRESSACTR...,Of Human BondageDangerousJezebelDark VictoryTh...,2,13
Denzel Washington,18034,18043,691,ACTOR IN A SUPPORTING ROLEACTOR IN A SUPPORTIN...,Cry FreedomGloryMalcolm XThe HurricaneTraining...,2,11
Spencer Tracy,17562,17571,219,ACTORACTORACTORACTORACTORACTORACTORACTORACTOR,San FranciscoCaptains CourageousBoys TownFathe...,2,11
Laurence Olivier,17624,17633,281,ACTORACTORACTORACTORACTORACTORACTORACTOR IN A ...,Wuthering HeightsRebeccaHenry VHamletThe Enter...,1,10
Paul Newman,17794,17803,451,ACTORACTORACTORACTORACTOR IN A LEADING ROLEACT...,Cat on a Hot Tin RoofThe HustlerHudCool Hand L...,1,10
Jack Lemmon,15750,15758,334,ACTOR IN A SUPPORTING ROLEACTORACTORACTORACTOR...,Mister RobertsSome Like It HotThe ApartmentDay...,2,10
Al Pacino,17866,17875,523,ACTOR IN A SUPPORTING ROLEACTORACTORACTORACTOR...,The GodfatherSerpicoThe Godfather Part IIDog D...,1,10
Marlon Brando,15701,15709,285,ACTORACTORACTORACTORACTORACTORACTORACTOR IN A ...,A Streetcar Named DesireViva Zapata!Julius Cae...,2,10
Ingrid Bergman,13688,13695,199,ACTRESSACTRESSACTRESSACTRESSACTRESSACTRESS IN ...,For Whom the Bell TollsGaslightThe Bells of St...,3,10
Cate Blanchett,16072,16080,656,ACTRESS IN A LEADING ROLEACTRESS IN A SUPPORTI...,ElizabethThe AviatorNotes on a ScandalElizabet...,2,10
Robert De Niro,15924,15932,508,ACTOR IN A SUPPORTING ROLEACTOR IN A LEADING R...,The Godfather Part IITaxi DriverThe Deer Hunte...,2,10
Judi Dench,16041,16049,625,ACTRESS IN A LEADING ROLEACTRESS IN A SUPPORTI...,Mrs. BrownShakespeare in LoveChocolatIrisMrs. ...,1,9
Dustin Hoffman,13856,13863,367,ACTORACTORACTORACTOR IN A LEADING ROLEACTOR IN...,The GraduateMidnight CowboyLennyKramer vs. Kra...,2,9
Frances McDormand,12026,12032,464,ACTRESS IN A SUPPORTING ROLEACTRESS IN A LEADI...,Mississippi BurningFargoAlmost FamousNorth Cou...,3,9
Geraldine Page,15761,15769,345,ACTRESS IN A SUPPORTING ROLEACTRESSACTRESSACTR...,HondoSummer and SmokeSweet Bird of YouthYou're...,1,9
Jane Fonda,13841,13848,352,ACTRESSACTRESSACTRESS IN A LEADING ROLEACTRESS...,"They Shoot Horses, Don't They?KluteJuliaComing...",2,9
Robert Duvall,13923,13930,434,ACTOR IN A SUPPORTING ROLEACTOR IN A SUPPORTIN...,The GodfatherApocalypse NowThe Great SantiniTe...,1,8
Jeff Bridges,13964,13971,475,ACTOR IN A SUPPORTING ROLEACTOR IN A SUPPORTIN...,The Last Picture ShowThunderbolt and Lightfoot...,1,8
Jessica Lange,11916,11922,354,ACTRESS IN A LEADING ROLEACTRESS IN A SUPPORTI...,FrancesTootsieCountrySweet DreamsMusic BoxBlue...,2,8
Anthony Hopkins,12015,12021,453,ACTOR IN A LEADING ROLEACTOR IN A LEADING ROLE...,The Silence of the LambsThe Remains of the Day...,2,8
Kate Winslet,14026,14033,537,ACTRESS IN A SUPPORTING ROLEACTRESS IN A LEADI...,Sense and SensibilityTitanicIrisEternal Sunshi...,1,8
Tom Hanks,11992,11998,430,ACTOR IN A LEADING ROLEACTOR IN A LEADING ROLE...,BigPhiladelphiaForrest GumpSaving Private Ryan...,2,8
Maggie Smith,11871,11877,309,ACTRESS IN A SUPPORTING ROLEACTRESSACTRESSACTR...,OthelloThe Prime of Miss Jean BrodieTravels wi...,2,8
Michael Caine,11908,11914,346,ACTORACTORACTOR IN A LEADING ROLEACTOR IN A SU...,AlfieSleuthEducating RitaHannah and Her Sister...,2,8
Greer Garson,13614,13621,125,ACTRESSACTRESSACTRESSACTRESSACTRESSACTRESSACTRESS,"Goodbye, Mr. ChipsBlossoms in the DustMrs. Min...",1,8
Peter O'Toole,15803,15811,387,ACTORACTORACTORACTORACTORACTOR IN A LEADING RO...,Lawrence of ArabiaBecketThe Lion in WinterGood...,0,8
Glenn Close,15973,15981,557,ACTRESS IN A SUPPORTING ROLEACTRESS IN A SUPPO...,The World According to GarpThe Big ChillThe Na...,0,8
Elizabeth Taylor,9800,9805,165,ACTRESSACTRESSACTRESSACTRESSACTRESS,"Raintree CountyCat on a Hot Tin RoofSuddenly, ...",2,7
Sissy Spacek,11909,11915,347,ACTRESS IN A LEADING ROLEACTRESS IN A LEADING ...,CarrieCoal Miner's DaughterMissingThe RiverCri...,1,7
Leonardo DiCaprio,12050,12056,488,ACTOR IN A SUPPORTING ROLEACTOR IN A LEADING R...,What's Eating Gilbert GrapeThe AviatorBlood Di...,1,7
Olivia de Havilland,9723,9728,88,ACTRESS IN A SUPPORTING ROLEACTRESSACTRESSACTR...,Gone with the WindHold Back the DawnTo Each Hi...,2,7
Sean Penn,10006,10011,371,ACTOR IN A LEADING ROLEACTOR IN A LEADING ROLE...,Dead Man WalkingSweet and LowdownI Am SamMysti...,2,7
Daniel Day-Lewis,10031,10036,396,ACTOR IN A LEADING ROLEACTOR IN A LEADING ROLE...,In the Name of the FatherGangs of New YorkTher...,2,7
Norma Shearer,11596,11602,37,ACTRESSACTRESSACTRESSACTRESSACTRESSACTRESS,The DivorceeTheir Own DesireA Free SoulThe Bar...,1,7
Jodie Foster,9972,9977,337,ACTRESS IN A SUPPORTING ROLEACTRESS IN A LEADI...,Taxi DriverThe AccusedThe Silence of the Lambs...,2,7
Ellen Burstyn,11876,11882,314,ACTRESS IN A SUPPORTING ROLEACTRESSACTRESSACTR...,The Last Picture ShowThe ExorcistAlice Doesn't...,1,7
Gene Hackman,9888,9893,253,ACTOR IN A SUPPORTING ROLEACTOR IN A SUPPORTIN...,Bonnie and ClydeI Never Sang for My FatherThe ...,2,7
Walter Brennan,7755,7759,47,ACTOR IN A SUPPORTING ROLEACTOR IN A SUPPORTIN...,Come and Get ItKentuckyThe WesternerSergeant York,3,7
Fredric March,9695,9700,62,ACTORACTORACTORACTORACTOR,The Royal Family of BroadwayDr. Jekyll and Mr....,2,7
Paul Muni,11627,11633,67,ACTORACTORACTORACTORACTORACTOR,The ValiantI Am a Fugitive from a Chain GangBl...,1,7
Gary Cooper,9714,9719,79,ACTORACTORACTORACTORACTOR,Mr. Deeds Goes to TownSergeant YorkThe Pride o...,2,7
Richard Burton,13746,13753,257,ACTOR IN A SUPPORTING ROLEACTORACTORACTORACTOR...,My Cousin RachelThe RobeBecketThe Spy Who Came...,0,7
Vanessa Redgrave,11858,11864,296,ACTRESSACTRESSACTRESSACTRESS IN A SUPPORTING R...,"Morgan!IsadoraMary, Queen of ScotsJuliaThe Bos...",1,7
Audrey Hepburn,9794,9799,159,ACTRESSACTRESSACTRESSACTRESSACTRESS,Roman HolidaySabrinaThe Nun's StoryBreakfast a...,1,6
Anthony Quinn,7829,7833,121,ACTOR IN A SUPPORTING ROLEACTOR IN A SUPPORTIN...,Viva Zapata!Lust for LifeWild Is the WindZorba...,2,6
Gregory Peck,9749,9754,114,ACTORACTORACTORACTORACTOR,The Keys of the KingdomThe YearlingGentleman's...,1,6
Nicole Kidman,10050,10055,415,ACTRESS IN A LEADING ROLEACTRESS IN A LEADING ...,Moulin RougeThe HoursRabbit HoleLionBeing the ...,1,6

In [17]:
# drop the year_film, year_ceremony, ceremony, category, film and winner columns
successful_actors = successful_actors.drop(columns=['year_film', 'year_ceremony', 'ceremony', 'category', 'film', 'winner'])

KeyError: "['year_film', 'year_ceremony', 'ceremony', 'category', 'film', 'winner'] not found in axis"

In [26]:
# rename 'name' to 'actor' and 'score' to 'oscar_score'
successful_actors = successful_actors.rename(columns={'name': 'actor', 'score': 'oscar_score'})
successful_actors.head()

                   oscar_score  imdb_score
name
Meryl Streep                24           0
Katharine Hepburn           16           0
Jack Nicholson              15           0
Bette Davis                 13           0
Denzel Washington           11           0

In [25]:
successful_actors.head(10)

                   oscar_score  imdb_score
name
Meryl Streep                24           0
Katharine Hepburn           16           0
Jack Nicholson              15           0
Bette Davis                 13           0
Denzel Washington           11           0
Spencer Tracy               11           0
Laurence Olivier            10           0
Paul Newman                 10           0
Jack Lemmon                 10           0
Al Pacino                   10           0

In [21]:
imdb.head()

,names,date_x,score,genre,overview,crew,orig_title,status,orig_lang,budget_x,revenue,country
0,Creed III,2023-03-02,73.0,"Drama,Action","After dominating the boxing world, Adonis Cree...","Michael B. Jordan, Adonis Creed, Tessa Thompso...",Creed III,Released,English,75000000.0,2.716167e+08,AU
1,Avatar: The Way of Water,2022-12-15,78.0,"Science Fiction,Adventure,Action",Set more than a decade after the events of the...,"Sam Worthington, Jake Sully, Zoe Saldaa, Neyt...",Avatar: The Way of Water,Released,English,460000000.0,2.316795e+09,AU
2,The Super Mario Bros. Movie,2023-04-05,76.0,"Animation,Adventure,Family,Fantasy,Comedy","While working underground to fix a water main,...","Chris Pratt, Mario (voice), Anya Taylor-Joy, P...",The Super Mario Bros. Movie,Released,English,100000000.0,7.244590e+08,AU
3,Mummies,2023-01-05,70.0,"Animation,Comedy,Family,Adventure,Fantasy","Through a series of unfortunate events, three ...","scar Barbern, Thut (voice), Ana Esther Albor...",Momias,Released,"Spanish, Castilian",12300000.0,3.420000e+07,AU
4,Supercell,2023-03-17,61.0,Action,Good-hearted teenager William always lived in ...,"Skeet Ulrich, Roy Cameron, Anne Heche, Dr Quin...",Supercell,Released,English,77000000.0,3.409420e+08,US

to get a more refined score, we will use the IMDB dataset to get the average rating of the actors movies and add it to the oscar score.

In [33]:
successful_actors['imdb_score'] = 0
successful_actors['num_movies'] = 0
# the actor name is in the 'crew' column which contains comma separated values of all the actors in the movie
# we will split the string and check if the actor is in the string
# if he is, we will add the rating to the imdb_score
for index, row in imdb.iterrows():
    for actor in successful_actors.index:
        if actor in str(row['crew']):
            successful_actors.loc[actor, 'imdb_score'] += row['score']
            successful_actors.loc[actor, 'num_movies'] += 1
# now we need to divide the imdb_score by the number of movies the actor was in and divide aerage score by 10
successful_actors['imdb_score'] = (successful_actors['imdb_score'] / successful_actors['num_movies']) / 10
successful_actors.head()

                   oscar_score  imdb_score  num_movies
name
Meryl Streep                24    6.993103          29
Katharine Hepburn           16    7.500000           5
Jack Nicholson              15    7.058824          17
Bette Davis                 13    7.733333           3
Denzel Washington           11    6.694595          37

In [34]:
# drop all actors that have no imdb score and print how many actors are left
before = successful_actors.shape[0]
successful_actors = successful_actors[successful_actors['imdb_score'] != 0]
after = successful_actors.shape[0]
print(f'{before - after} actors were dropped')

0 actors were dropped

In [35]:
#add a final_score column that is the sum of the oscar_score and the imdb_score
successful_actors['final_score'] = successful_actors['oscar_score'] + successful_actors['imdb_score']
successful_actors.head()

                   oscar_score  imdb_score  num_movies  final_score
name
Meryl Streep                24    6.993103          29    30.993103
Katharine Hepburn           16    7.500000           5    23.500000
Jack Nicholson              15    7.058824          17    22.058824
Bette Davis                 13    7.733333           3    20.733333
Denzel Washington           11    6.694595          37    17.694595

In [37]:
successful_actors.head(500)

                   oscar_score  imdb_score  num_movies  final_score
name
Meryl Streep                24    6.993103          29    30.993103
Katharine Hepburn           16    7.500000           5    23.500000
Jack Nicholson              15    7.058824          17    22.058824
Bette Davis                 13    7.733333           3    20.733333
Denzel Washington           11    6.694595          37    17.694595
...                        ...         ...         ...          ...
Rosamund Pike                1    6.582353          17     7.582353
Chief Dan George             1    7.500000           1     8.500000
Bill Nighy                   1    6.573333          30     7.573333
Billie Burke                 1    7.600000           1     8.600000
Ronee Blakley                1    6.900000           3     7.900000

[500 rows x 4 columns]

In [40]:
rotten.head(100)

,title,year,synopsis,critic_score,people_score,consensus,total_reviews,total_ratings,type,rating,...,writer,release_date_(theaters),release_date_(streaming),box_office_(gross_usa),runtime,production_co,sound_mix,aspect_ratio,view_the_collection,crew
0,Black Panther,2018,"After the death of his father, T'Challa return...",96,79.0,Black Panther elevates superhero cinema to thr...,519,"50,000+",Action & Adventure,PG-13 (Sequences of Action Violence|A Brief Ru...,...,"Ryan Coogler, Joe Robert Cole","Feb 16, 2018 wide","May 2, 2018",$700.2M,2h 14m,Walt Disney Pictures,"DTS, Dolby Atmos",Scope (2.35:1),Marvel Cinematic Universe,"Chadwick Boseman, Michael B. Jordan, Lupita Ny..."
1,Avengers: Endgame,2019,"Adrift in space with no food or water, Tony St...",94,90.0,"Exciting, entertaining, and emotionally impact...",538,"50,000+",Action & Adventure,PG-13 (Sequences of Sci-Fi Violence|Action|Som...,...,"Christopher Markus, Stephen McFeely","Apr 26, 2019 wide","Jul 30, 2019",$858.4M,3h 1m,"Marvel Studios, Walt Disney Pictures","Dolby Atmos, DTS, Dolby Digital, SDDS",Scope (2.35:1),Marvel Cinematic Universe,"Robert Downey Jr., Chris Evans, Mark Ruffalo, ..."
2,Mission: Impossible -- Fallout,2018,Ethan Hunt and the IMF team join forces with C...,97,88.0,"Fast, sleek, and fun, Mission: Impossible - Fa...",433,"10,000+",Action & Adventure,PG-13 (Intense Sequences of Action|Brief Stron...,...,Christopher McQuarrie,"Jul 27, 2018 wide","Nov 20, 2018",$220.1M,2h 27m,"Bad Robot, Tom Cruise","DTS, Dolby Atmos, Dolby Digital",Scope (2.35:1),NaN,"Tom Cruise, Henry Cavill, Ving Rhames, Simon P..."
3,Mad Max: Fury Road,2015,"Years after the collapse of civilization, the ...",97,86.0,With exhilarating action and a surprising amou...,427,"100,000+",Action & Adventure,R (Intense Sequences of Violence|Disturbing Im...,...,"George Miller, Brendan McCarthy, Nick Lathouris","May 15, 2015 wide","Aug 10, 2016",$153.6M,2h,"Kennedy Miller Mitchell, Village Roadshow Pict...",Dolby Atmos,Scope (2.35:1),NaN,"Tom Hardy, Charlize Theron, Nicholas Hoult, Hu..."
4,Spider-Man: Into the Spider-Verse,2018,"Bitten by a radioactive spider in the subway, ...",97,93.0,Spider-Man: Into the Spider-Verse matches bold...,387,"10,000+",Action & Adventure,PG (Mild Language|Frenetic Action Violence|The...,...,"Phil Lord, Rodney Rothman","Dec 14, 2018 wide","Mar 7, 2019",$190.2M,1h 57m,"Lord Miller, Sony Pictures Animation, Pascal P...","Dolby Atmos, DTS, Dolby Digital, SDDS",Scope (2.35:1),NaN,"Shameik Moore, Hailee Steinfeld, Mahershala Al..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,The Lion King,1994,This Disney animated feature follows the adven...,93,93.0,"Emotionally stirring, richly drawn, and beauti...",130,"250,000+",Action & Adventure,G,...,"Irene Mecchi, Jonathan Roberts, Linda Woolverton","Jun 24, 1994 wide","Aug 15, 2017",$422.8M,1h 27m,Walt Disney Pictures,"Dolby SR, DTS, Dolby Stereo, SDDS, DTS-ES, Dol...",Flat (1.85:1),NaN,"Matthew Broderick, Jeremy Irons, James Earl Jo..."
96,Bullitt,1968,Senator Walter Chalmers (Robert Vaughn) is aim...,98,85.0,Steve McQueen is cool as ice in this thrilling...,41,"25,000+",Action & Adventure,PG,...,"Alan R. Trustman, Harry Kleiner","Oct 17, 1968 wide","Sep 1, 2008",NaN,1h 53m,Solar Productions,Stereo,Flat (1.85:1),NaN,"Steve McQueen, Robert Vaughn, Jacqueline Bisse..."
97,Catch Me if You Can,2002,"Frank Abagnale, Jr. (Leonardo DiCaprio) worked...",96,89.0,With help from a strong performance by Leonard...,202,"250,000+",Action & Adventure,PG-13 (Some Sexual Content|Brief Language),...,Jeff Nathanson,"Dec 25, 2002 wide","Aug 1, 2013",$164.4M,2h 20m,"Parkes/MacDonald, DreamWorks SKG, Amblin Enter...",Surround,NaN,NaN,"Leonardo DiCaprio, Tom Hanks, Christopher Walk..."
98,Annihilation,2018,"Lena, a biologist and former soldier, joins a ...",88,66.0,Annihilation backs up its sci-fi visual wonder...,319,"10,000+",Action & Adventure,R (Language|Bloody Images|Some Sexuality|Viole...,...,Alex Garland,"Feb 23, 2018 wide","Apr 22, 2018",$32.7M,1h 55m,"Scott Rudin Productions, DNA Films",Dolby Digital,Scope (2.35:1),NaN,"Natalie Portman, Jennifer Jason Leigh, Gina Ro..."
99,Who Framed Roger Rabbit,1988,Down-on-his-luck private eye Eddie Valiant (Bo...,97,84.0,Who Framed Roger Rabbit is an innovative and e...,65,"250,000+",Action & Adventure,PG,...,"Jeffrey Price, Peter S. Seaman","Jun 21, 1988 wide","Dec 13, 2015",$152.8M,1h 44m,Touchstone Pictures,Surround,NaN,NaN,"Bob Hoskins, Christopher Lloyd, Joanna Cassidy..."

In [43]:
actor_df = pd.read_pickle('../../pickles/actor_df.pkl')

In [44]:
actor_df.head()

,name,id,adult,also_known_as,biography,birthday,deathday,gender,homepage,imdb_id,known_for_department,place_of_birth,popularity,profile_path
0,Richard Barthelmess,13789.0,False,"[Richard Semler Barthelmess, Richard S. Barthe...","From Wikipedia, the free encyclopedia. \n\nRic...",1895-05-08,1963-08-17,2.0,None,nm0001932,Acting,"New York City, New York, USA",1.079,/p7nmZeuQjHOsNFgqgEXBdh78OSC.jpg
1,Emil Jannings,2895.0,False,[Theodor Friedrich Emil Janenz],Emil Jannings (18841950) was a German actor. ...,1884-07-22,1950-01-02,2.0,None,nm0417837,Acting,"Rorschach, Switzerland",2.945,/yX7AFfYgYit6WlPshockLsP40LB.jpg
2,Louise Dresser,146141.0,False,"[Lulu Josephine Kerlin, Louise Josephine Kerlin]",,1878-10-03,1965-04-24,1.0,None,nm0237571,Acting,"Evansville, Indiana, USA",1.564,/i7NYAqqzY6uhI0IEcwPeYP9tNKt.jpg
3,Janet Gaynor,9088.0,False,"[Laura Augusta Gainor, ]","Janet Gaynor (October 6, 1906 September 14, ...",1906-10-06,1984-09-14,1.0,None,nm0310980,Acting,"Philadelphia, Pennsylvania, USA",2.692,/kwyClWei18GOssMPbrs4RL61izG.jpg
4,Gloria Swanson,8629.0,False,"[Gloria May Josephine Svensson, Gloria Mae, ...","Gloria Swanson (March 27, 1899 April 4, 1983...",1899-03-27,1983-04-04,1.0,None,nm0841797,Acting,"Chicago, Illinois, USA",3.541,/akmlp75ESHjtGOVtOCfJYxkX4eo.jpg

In [45]:
# drop the following columns: also_known_as, adult, biography, imdb_id, profile_path
actor_df = actor_df.drop(columns=['also_known_as', 'adult', 'biography', 'imdb_id', 'profile_path', 'homepage'])

In [47]:
actor_df.head(100)

,name,id,birthday,deathday,gender,known_for_department,place_of_birth,popularity
0,Richard Barthelmess,13789.0,1895-05-08,1963-08-17,2.0,Acting,"New York City, New York, USA",1.079
1,Emil Jannings,2895.0,1884-07-22,1950-01-02,2.0,Acting,"Rorschach, Switzerland",2.945
2,Louise Dresser,146141.0,1878-10-03,1965-04-24,1.0,Acting,"Evansville, Indiana, USA",1.564
3,Janet Gaynor,9088.0,1906-10-06,1984-09-14,1.0,Acting,"Philadelphia, Pennsylvania, USA",2.692
4,Gloria Swanson,8629.0,1899-03-27,1983-04-04,1.0,Acting,"Chicago, Illinois, USA",3.541
...,...,...,...,...,...,...,...,...
111,Wesley Ruggles,21311.0,1893-04-03,1943-06-01,2.0,Acting,"Forest Hill, London, England, UK",1.407
112,Josef Von Sternberg,2891.0,1899-06-30,1962-12-15,2.0,Acting,"Scarborough, North Riding of Yorkshire, Englan...",13.898
113,Norman Taurog,82800.0,1907-05-12,2003-06-29,1.0,Acting,"Hartford, Connecticut, USA",5.452
120,Howard Estabrook,88579.0,1899-07-07,1983-01-24,2.0,Directing,"Lower East Side, Manhattan, New York City, New...",1.839
122,Horace Jackson,1008623.0,None,None,0.0,Acting,None,0.001

In [48]:
# transform the birthday and deathday columns to datetime and then only keep the year
actor_df['birthday'] = pd.to_datetime(actor_df['birthday'])
actor_df['birthday'] = actor_df['birthday'].dt.year
actor_df['deathday'] = pd.to_datetime(actor_df['deathday'])
actor_df['deathday'] = actor_df['deathday'].dt.year

In [49]:
# keep only the country of birth instead of the full location
actor_df['place_of_birth'] = actor_df['place_of_birth'].str.split(',').str[-1]

In [50]:
actor_df.head(100)

,name,id,birthday,deathday,gender,known_for_department,place_of_birth,popularity
0,Richard Barthelmess,13789.0,1895.0,1963.0,2.0,Acting,USA,1.079
1,Emil Jannings,2895.0,1884.0,1950.0,2.0,Acting,Switzerland,2.945
2,Louise Dresser,146141.0,1878.0,1965.0,1.0,Acting,USA,1.564
3,Janet Gaynor,9088.0,1906.0,1984.0,1.0,Acting,USA,2.692
4,Gloria Swanson,8629.0,1899.0,1983.0,1.0,Acting,USA,3.541
...,...,...,...,...,...,...,...,...
111,Wesley Ruggles,21311.0,1893.0,1943.0,2.0,Acting,UK,1.407
112,Josef Von Sternberg,2891.0,1899.0,1962.0,2.0,Acting,UK,13.898
113,Norman Taurog,82800.0,1907.0,2003.0,1.0,Acting,USA,5.452
120,Howard Estabrook,88579.0,1899.0,1983.0,2.0,Directing,USA,1.839
122,Horace Jackson,1008623.0,NaN,NaN,0.0,Acting,None,0.001

In [51]:
# drop popularity
actor_df = actor_df.drop(columns=['popularity'])

In [52]:
# now combine the actor_df with the successful_actors dataframe
actor_df = actor_df.set_index('name')
actor_df.head()

,id,birthday,deathday,gender,known_for_department,place_of_birth
name,,,,,,
Richard Barthelmess,13789.0,1895.0,1963.0,2.0,Acting,USA
Emil Jannings,2895.0,1884.0,1950.0,2.0,Acting,Switzerland
Louise Dresser,146141.0,1878.0,1965.0,1.0,Acting,USA
Janet Gaynor,9088.0,1906.0,1984.0,1.0,Acting,USA
Gloria Swanson,8629.0,1899.0,1983.0,1.0,Acting,USA

In [53]:
successful_actors = successful_actors.join(actor_df)

In [56]:
successful_actors.head(1000)

,oscar_score,imdb_score,num_movies,final_score,id,birthday,deathday,gender,known_for_department,place_of_birth
name,,,,,,,,,,
Meryl Streep,24,6.993103,29,30.993103,5064.0,NaN,NaN,NaN,NaN,NaN
Katharine Hepburn,16,7.500000,5,23.500000,6598.0,1909.0,2006.0,2.0,Directing,USA
Jack Nicholson,15,7.058824,17,22.058824,514.0,1996.0,NaN,1.0,Acting,UK
Bette Davis,13,7.733333,3,20.733333,3380.0,1883.0,1951.0,2.0,Camera,Italy
Denzel Washington,11,6.694595,37,17.694595,5292.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
Lucile Watson,1,6.500000,1,7.500000,83260.0,1901.0,1959.0,2.0,Editing,None
Lucas Hedges,1,7.233333,6,8.233333,1105079.0,NaN,NaN,NaN,NaN,NaN
Dudley Moore,1,5.875000,4,6.875000,56819.0,NaN,NaN,NaN,NaN,NaN
Louise Dresser,1,NaN,0,NaN,146141.0,1878.0,1965.0,1.0,Acting,USA
Abigail Breslin,1,6.536842,19,7.536842,17140.0,NaN,NaN,NaN,NaN,NaN

In [57]:
# only keep the actors that have known_for_department == 'Acting'
successful_actors = successful_actors[successful_actors['known_for_department'] == 'Acting']
successful_actors.head(1000)

,oscar_score,imdb_score,num_movies,final_score,id,birthday,deathday,gender,known_for_department,place_of_birth
name,,,,,,,,,,
Jack Nicholson,15,7.058824,17,22.058824,514.0,1996.0,NaN,1.0,Acting,UK
Paul Newman,10,7.158333,12,17.158333,3636.0,1947.0,NaN,2.0,Acting,France
Jack Lemmon,10,7.400000,7,17.400000,3151.0,1937.0,NaN,2.0,Acting,USA
Marlon Brando,10,7.500000,8,17.500000,3084.0,1949.0,NaN,1.0,Acting,USA
Dustin Hoffman,9,6.840625,32,15.840625,4483.0,1962.0,NaN,2.0,Acting,USA
...,...,...,...,...,...,...,...,...,...,...
Rita Moreno,2,6.875000,8,8.875000,13299.0,1961.0,NaN,1.0,Acting,UK
Joyce Redman,2,NaN,0,NaN,37441.0,1981.0,NaN,1.0,Acting,Colombia
Judy Garland,2,7.800000,2,9.800000,9066.0,1930.0,2015.0,2.0,Acting,USA
Ginger Rogers,2,NaN,0,NaN,30003.0,1917.0,2012.0,1.0,Acting,USA
Harold Russell,2,NaN,0,NaN,13580.0,1941.0,NaN,1.0,Acting,India

In [58]:
successful_actors.head(1000)

,oscar_score,imdb_score,num_movies,final_score,id,birthday,deathday,gender,known_for_department,place_of_birth
name,,,,,,,,,,
Jack Nicholson,15,7.058824,17,22.058824,514.0,1996.0,NaN,1.0,Acting,UK
Paul Newman,10,7.158333,12,17.158333,3636.0,1947.0,NaN,2.0,Acting,France
Jack Lemmon,10,7.400000,7,17.400000,3151.0,1937.0,NaN,2.0,Acting,USA
Marlon Brando,10,7.500000,8,17.500000,3084.0,1949.0,NaN,1.0,Acting,USA
Dustin Hoffman,9,6.840625,32,15.840625,4483.0,1962.0,NaN,2.0,Acting,USA
...,...,...,...,...,...,...,...,...,...,...
Maggie McNamara,1,NaN,0,NaN,30780.0,1955.0,NaN,1.0,Acting,USA
Doris Day,1,NaN,0,NaN,8237.0,1963.0,NaN,1.0,Acting,USA
Dorothy Dandridge,1,NaN,0,NaN,20155.0,1927.0,1997.0,2.0,Acting,USA
Lynn Fontanne,1,NaN,0,NaN,943044.0,1908.0,1989.0,1.0,Acting,USA
Louise Dresser,1,NaN,0,NaN,146141.0,1878.0,1965.0,1.0,Acting,USA